<html>
<head></head>
<body>
<h1>Welcome to the guessing game. Type in your guess to get going!!</h1>
<p> The guess can be typed in the box.</p>
<form>
<input type='text' name ='guess' />
<input type='submit' value='guess!' /></br>

<%= message %>

</form>
</p>
</body>
</html>